* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-size: 16px;
    color: white;
    background-color: black;
    text-align: center;
    background-image: url(./images/noise12.jpg);
    background-size: 80%;
    scroll-behavior: smooth;
    font-weight: 300;
    font-family: 'Grandstander', Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4 {
    font-weight: 500;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    transform: scale(1.1);
    transition: 0.25s ease-in-out;
}

.width-container {
    max-width: 80rem;
    margin: 0 auto;
    padding: 0 1.5rem;
    /* border-left: 1px dashed red;
    border-right: 1px dashed red; */
}

.the {
    display: inline-flex;
    font-family: 'Gochi Hand', cursive;
    font-size: 80%;
    position: relative;
    bottom: 0.1em;
    right: -11px;
    transform: rotate(-15deg);
}

.logo {
    font-family: 'Russo One', sans-serif;
}

/* ----- HEADER ----- */

#top-menu {
    display: flex;
    /* display: none; */
    position: fixed;
    height: 4rem;
    width: 100%;
    justify-content: center;
    background-color: hsla(0, 100%, 19%, 100%);
    z-index: 99;
}

.menu-items {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.menu-items a {
    align-self: center;
}

nav {
    align-self: center;
}

nav ul {
    display: flex;
    gap: 2rem;
}

nav li {
    list-style: none;
}

nav a:hover {
    text-decoration: underline;
    transform: scale(1.1);
}

#banner {
    padding: 8rem 0 6rem;
    background-image: url(./images/danny-howe-bn-D2bCvpik-unsplash-banner.jpg);
    background-size: cover;
    background-position-y: 70%;
    background-position-x: center;
    background-repeat: no-repeat;
    /* background-color: darkred;
    display: none; */
}

.cheer {color: hsla(18, 100%, 50%, 100%);}

h1 {
    font-size: 3rem;
    text-shadow: black 2px 2px 5px;
}

#banner h2 {
    position: relative;
    top: 0;
    width: 24rem;
    margin: 1rem auto 4rem;
    padding: 2.5rem;
    font-size: 4.25rem;
    line-height: 1;
    background-color: hsla(0, 0%, 0%, 45%);
    border: 0.5rem solid white;
    border-radius: 1.5rem;
    box-shadow: 4px 4px 1rem hsla(0, 0%, 0%, 45%);
}

/* ----- MAIN SECTION ----- */

/* ----- TOPICS ----- */

#first {
    position: relative;
    top: -4rem;
    padding: 8rem 0 0 0;
}

#first h2 {
    font-size: 1.75rem;
    padding-bottom: 3rem;
}

#topics {
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    flex-wrap: wrap;
}

.topic {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 24%;
    min-width: 17rem;
    height: 17rem;
    border: 1px solid hsla(0, 0%, 100%, 40%);
    justify-self: center;
    overflow: hidden;
    transition: 0.25s ease-in-out;
    z-index: 1;
}

.topic:hover {
    transform: scale(1.05);
    border-color: white;
    border-width: 2px;
}

.topic h3 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.75rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-shadow: #000A 1px 1px 9px, #000A -1px -1px 9px;
}

.topic img {
    max-width: 100%;
    position: relative;
}

/* ----- EVENTS ----- */

#second {
    position: relative;
    top: -4rem;
    padding: 6rem 0 0 0;
}

#second h3 {
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
}

#second h2, #third h2 {
    text-align: left;
    font-size: 1.75rem;
    text-transform: uppercase;
    padding: 4rem 1rem 3rem;
}

#events {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.event {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    width: 32%;
    min-width: 25rem;
    border: 1px solid hsla(0, 0%, 100%, 40%);
    background-color: hsla(17, 20%, 5%, 70%);
    border-radius: 0.5rem;
}

.event div {
    width: 100%;
    height: 17rem;
    overflow: hidden;
}

.event img {
    width: 100%;
    position: relative;
    border-radius: 0.5rem 0.5rem 0 0;
}

.event h3 {
    font-weight: 400;
    margin: 0;
    position: absolute;
    top: 5%;
    left: 5%;
    font-size: 1.5rem;
    text-shadow: #000A 1px 1px 30px, #000A -1px -1px 30px;
    z-index: 1;
}

.event p {
    margin: 0.5rem;
    font-weight: 200;
    line-height: 1.4;
}

#third {
    position: relative;
    top: -4rem;
    padding: 2rem 0 0 0;
}

#contact {
    text-align: left;
    font-size: 1.4rem;
    padding: 1rem;
}

/* ----- FOOTER ----- */

footer {
    position: relative;
    top: 4rem;
    background-color: hsla(0, 100%, 19%, 100%);
}

#foot {
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

/* ----- MOBILE QUERY ----- */

@media only screen and (max-width: 470px) {
    html, body {
        font-size: 12px;
    }

    h1, h2, h3, h4 {
        margin-left: 0.8rem;
        margin-right: 0.8rem;
    }

    .topic, .event {
        width: 80%;
    }

    #top-menu .logo {
        translate: -2rem;
    }

    nav ul {
        gap: 1rem;
    }

    .hide-me {
        display: none;
    }

    #contact {
        padding-left: 2rem;
    }
}

/* ----- CREDITS PAGE ----- */

.credits-list {
    margin: 0.75rem;
    text-align: left;
}

.credits-list li {
    margin: 1rem;
}

.credits-list h3 {
    margin: 2rem 0;
}

.credits-list a {
    color: hsla(17, 100%, 50%, 100%)
}

.credits-list a:hover {
    color: hsla(0, 0%, 100%, 100%);
}